
.instructionsRecipe{
    font-size: medium;
    color:black;
    text-align: justify;
    text-justify: inter-word;
}

.subtitle{
    background-color: rgba(0, 140, 255, 0.5);
    font-size: 200%;
    width: 18%;
    padding-left: 15px;
    padding-right: 15px;
}

.healthscore{
    font: 150%;
    padding-left: 15%;
}

.summaryRecipe{
    font-size: 110%;
    font-family: 'Asap', sans-serif;
    letter-spacing: 1px;
}

.alldetail{
    background-color: rgb(209, 242, 249);
}



.box{
    padding-left: 15%;
    padding-right: 15%;
}

.dietsRecipe{
    font-size: 150%;
    font-family: 'Asap', sans-serif;
}

.home{
    width: 140px;
    height: 30px;
    border: none;
    box-shadow: 0px 5px 1px 0px rgba(0, 0, 0, 0.5);
    font-family: 'Asap', sans-serif;
    margin-top: 25%;
}

.contdiv{
    display: flex;
    align-items: center;
    text-align: justify;
    text-justify: inter-word;
}


#imgdetail{
    width: 450px;
    height: 300px;
    float: left; /* or "right" */
    margin-right: 10px; /* add some spacing between the image and the text */
    padding-right: 10px;
}


.contdivhealth{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.instruct{
    font-size: 200%;
    font-family: 'Asap', sans-serif;
    text-decoration: underline;
    text-decoration-color: rgba(0, 140, 255, 0.5);
    letter-spacing: 3px;
}

.boxnav{
    display: flex;
    justify-content:space-between;

}